@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /* --font-weight-normal:     600;*/
}

/* 3. (Optional) set the page’s default weight */
@layer base {
  html {
    /* if you want ALL text by default to be “normal” (400), you can: */
    font-weight: var(--font-weight-normal);

    background-color: transparent;

    scroll-behavior: smooth;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
